.testimonios{
    background: #2C74B3;
    display: flex;
    flex-wrap: wrap;
}

@media  screen and (min-width: 0) {
    .testimonios{
        padding: 5rem 0 0 1rem;

    }
}

@media  screen and (min-width: 768px) {
    .testimonios{
        padding: 5rem 0 0 2.5rem;
    }
}

@media  screen and (min-width: 922px) {
    .testimonios{
        padding: 5rem 0 0 5rem;

    }
}